.diet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #f2f2f2;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

tr {
  height: 30px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .75rem;
  background-color: white;
  color: #657b83;
  cursor: pointer;
}

tr.disabled {
  color: #DDD;
}

td {
  text-align: left;
}

td, th {
  padding: 0 10px;
}

.td-right {
  text-align: right;
}

.td-left {
  text-align: right;
}

.td-center {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}

th {
  text-transform: uppercase;
  font-weight: 300;
  background-color: white;
  font-size: .6rem;
  text-align: center;
}

tr.summary {
  color: #6c71c4;
  background-color: white;
}

tr.summary td {
  border-top: 1px solid #6c71c4;
}

.daily-plan {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
  margin: 50px 0;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.daily-plan header {
  background-color: #6c71c4;
  width: 100%;
  height: 400px;
  position: relative;
}

.daily-plan table {
  padding: 30px 15px 15px 15px;
}

.daily-plan .nutrients {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: #FDF6E3;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.daily-plan .nutrients span {
  margin: 0 1em;
  width: 50px;
  text-align: center;
}
