.diet {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  margin: 50px 0;
}

tr {
  height: 30px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .75rem;
  background-color: white;
  color: #657b83;
}

td {
  padding: 0 5px;
  text-align: right;
}

td:first-child {
  text-align: left;
}

th {
  text-align: right;
}

th:first-child {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}

th {
  text-transform: uppercase;
  font-weight: 300;
  background-color: white;
  font-size: .6rem;
}

tr.summary {
  color: #6c71c4;
  background-color: white;
}

tr.summary td {
  border-top: 1px solid #6c71c4;
}
